<div class="ui container" *ngIf="order">
    <br/>
    <h1>Bestellung - Details</h1>
    <br/>
    <div class="ui grid">
        <div class="five wide column">
            <p>Bestellung vom {{order.date | date}}</p><br>
            <p><b>Gesamtsumme:</b> {{order.total_brutto}} €</p>
        </div>
    </div>
    <br/>
    <br/>
    <div >
        <div>
            <h1>Bestellte Bücher</h1>
            <div *ngFor="let book of order.books">
                <span><b>{{book.title}} </b></span><br/>
                <span>{{book.subtitle}} </span><br/>
                <span>{{book.description}}</span><br/>
                <span>Preis: {{book.price}} € (inkl. MWST.)</span><br/>
                <span>Menge: {{book.pivot.quantity}}</span>
                <br/><br/>
            </div>
        </div>
        <div class="six wide column">
            <h1>Lieferadresse</h1>

            {{order.user.firstname}} {{order.user.lastname}}<br>
            {{order.user.street}} {{order.user.street_number}}<br>
            {{order.user.zip_code}} {{order.user.city}}<br>
            {{order.user.country}}

            <br>
            <br/>
        </div>
        <button [routerLink]="'/orders'" class="ui button">
            Zurück zur Übersicht
        </button>
        <button [routerLink]="'/orders'" class="ui button">
            Bestellung löschen
        </button>
    </div>
</div>
