<div class="ui grid" *ngIf="book">
  <div class="four wide column">
    <img class="ui large image" *ngIf="book.images && book.images[0]"
         [src]="book.images[0].url">
  </div>
  <div class="twelve wide column">
    <h1 class="ui header">{{ book.title }}</h1>
    <h3 class="ui header">{{ book.subtitle }}</h3>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="five wide column">
        <h4 class="ui header">Autoren</h4>
        <span *ngFor="let author of book.authors; last as l">
         {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
       </span>
      </div>
      <div class="five wide column">
        <h4 class="ui header">ISBN</h4>
        {{ book.isbn }}
      </div>
      <div class="five wide column">
        <h4 class="ui header">Erschienen</h4>
        {{ book.published }}
      </div>
      <div class="five wide column">
        <h4 class="ui header">Preis in €</h4>
        {{ book.price }}
      </div>
      <div class="five wide column">
        <h4 class="ui header">Rating</h4>
        <i *ngFor="let r of getRating(book.rating)" class="star icon"></i>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{ book.description }}
  </div>
  <div class="sixteen wide column">
    <div class="ui small images">
      <img *ngFor="let thumbnail of book.images" [src]="thumbnail.url">
    </div>
  </div>
</div>


<button [routerLink]="'/books'" class="ui red button">
  Zurück zru Buchliste
</button>

<a *ngIf="authService.isLoggedIn() && !authService.isLoggedInAdmin()" class="ui red button"
   [routerLink]="['../../cart', book?.isbn]">
  Zum Warenkorb hinzufügen
</a>

<button *ngIf="authService.isLoggedInAdmin()" class="ui tiny red labeled icon button"
        (click)="removeBook()">
  <i class="remove icon"></i>
  Buch löschen
</button>

<a  *ngIf="authService.isLoggedInAdmin()" class="ui tiny labeled icon button"
    [routerLink]="['../../updateBook', book?.isbn]">
  <i class="write icon"></i>
  Buch bearbeiten
</a>

<a  *ngIf="authService.isLoggedOut()" class="ui tiny labeled icon button"
    [routerLink]="['../../login']">
    <i class="write icon"></i>
    Zum Warenkorb hinzufügen
</a>